@font-face {
    font-family: "Noto_Serif_SC";
    src: url("../Fonts/NotoSerifSC-Bold.otf");
}

@font-face {
    font-family: "Noto_Serif_SC_Medium";
    src: url("../Fonts/NotoSerifSC-Medium.otf");
}


@font-face {
    font-family: "Nunito_Bold";
    src: url("../Fonts/Nunito-Bold.ttf");
}

@font-face {
    font-family: "Nunito_SemiBold";
    src: url("../Fonts/Nunito-SemiBold.ttf");
}


@font-face {
    font-family: "Nunito_ExtraBold";
    src: url("../Fonts/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: "Nunito_Medium";
    src: url("../Fonts/Nunito-Medium.ttf");
}


@font-face {
    font-family: "Nunito_regular";
    src: url("../Fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Raleway_regular";
    src: url("../Fonts/Raleway-Regular.ttf");
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #F5F5F5;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #29267E;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}


body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}


.Full_width {
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.grid-payment-container>h2 {
    font-family: 'Nunito_SemiBold';
    font-size: 22px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-transform: capitalize;
}


.sec{
    margin-bottom: 1rem;
    margin-top: -1rem !important;
}


.btn {
    /*color: #ec1c24;
    */
    font-size: 14px;
    font-family: "Nunito_ExtraBold";
    letter-spacing: 0.5px;
    text-decoration: none;
    display: inline-block;
    padding: 0.6em 1em;
    background-color: #ec1c24 !important;
    color: white !important;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    box-shadow: none !important;
    outline: none !important;
  }
  
  .btn:hover {
    background-color: #ffff !important;
    color: #29267E !important;
    border: 1px solid #29267E !important;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    /* border: none; */
  }
  
  