@font-face {
  font-family: "Noto_Serif_SC";
  src: url("../Fonts/NotoSerifSC-Bold.otf");
}

@font-face {
  font-family: "Noto_Serif_SC_Medium";
  src: url("../Fonts/NotoSerifSC-Medium.otf");
}


@font-face {
  font-family: "Nunito_Bold";
  src: url("../Fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nunito_SemiBold";
  src: url("../Fonts/Nunito-SemiBold.ttf");
}


@font-face {
  font-family: "Nunito_ExtraBold";
  src: url("../Fonts/Nunito-ExtraBold.ttf");
}

@font-face {
  font-family: "Nunito_Medium";
  src: url("../Fonts/Nunito-Medium.ttf");
}


@font-face {
  font-family: "Nunito_regular";
  src: url("../Fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Raleway_regular";
  src: url("../Fonts/Raleway-Regular.ttf");
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #29267E;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}


body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

#ticker {
  pointer-events: none;
  max-width: 1400px;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}

.header-placement {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: 0.5rem;
}

.main-container {
  /* background-color: #f8f9ff; */
  position: fixed;
  width: 100%;
  overflow-y: hidden;
  height: 100vh;
  top: 90px;
}

.scrolling-section {
  position: relative;
  bottom: 0px;
  margin-top: 46rem;
  background-color: white;
}

.Up-scroll {
  max-width: 500px;
}

.Up-scroll img {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 15px 3px rgba(158, 158, 158, 0.25);
  box-shadow: 0px 10px 15px 3px rgba(158, 158, 158, 0.25);
}

.Banner-imgs {
  padding: 30px 0px;
}

.ellipse-container>img {
  width: 80%;
}

.ellipse-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.sec-ellipse-container>img {
  width: 100%;
}

.sec-ellipse-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.head-text-container {
  margin-top: 2.5rem;
}

.head-text-container>h1 {
  font-family: "Noto_Serif_SC";
  font-size: 54px;
  color: #29267e;
}

.head-text-container img {
  position: relative;
  padding-left: 7px;
  margin-bottom: 2px;
  transform: rotate(401deg);
}

.head-text-container>p {
  font-family: "Nunito_regular";
  font-size: 18px;
  margin-top: 1rem;
}

.head-text-container>p>span {
  color: #ec1c24;
}

.lead-half {
  background: linear-gradient(to top, #ffe2e2 25%, transparent 25%);
  display: inline-block;
}

.cta-btn {
  color: #273581 !important;
  font-size: 16px;
  font-family: "Raleway_regular";
  letter-spacing: 0.1em;
  text-decoration: none;
  border: 1px solid #273581;
  padding: 0.6em 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.cta {
  margin-top: 2rem;
}

.cta-btn:hover {
  background-color: #273581;
  color: white !important;
}

ul.cta-list-items {
  list-style: none;
  color: #273581;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Nunito_Medium';
}

ul.cta-list-items li::before {
  content: "—";
  font-weight: 700;
}

.cta-list-items>ul:nth-child(2) {
  margin-left: 90px;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}

#typedtext {
  position: absolute;
  color: #273581;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Nunito_Medium';
  left: 23%;
  transform: rotate(-9.21deg);
  top: 20px;
  text-shadow: 6px 7px 33px #ff000099;
}

.cta-btns {
  position: relative;
  top: 0;
}

.cta-btns img {
  position: absolute;
  left: 35px;
  transform: rotate(8deg);
  top: 18px;
}

/* Desktop Banner ends here */

/* navbar starts here */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffff;
  z-index: 9999999999999;
  box-shadow: 0px 3px 1px #80808029;
}

#headers {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffff;
  z-index: 9999999999999;
  box-shadow: 0px 3px 1px #80808029;
}

.navbar-toggler-icon>i {
  font-size: 38px;
  color: #273581;
}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  position: relative;
  top: -8px;
}

@media screen and (max-width: 576px) {
  /* .navbar-toggler {
    top: 0px;
  } */

  .header-placement>p {
    display: none;
  }

  .navbar-toggler-icon>i {
    font-size: 32px;
  }

  .navbar-brand>img {
    width: 155px;
  }

  .mobile-hero-text>h1 {
    margin-top: 5rem;
  }
}

.navbar-brand>img {
  width: 180px;
}

.email-to>a {
  color: #757575;
  text-decoration: none;
  font-family: "Nunito_regular";
  font-size: 14px;
  margin-left: 15px;
}

.nav-item {
  margin: 0px 15px 0px 15px;
}

.nav-link {
  color: #29267e;
  font-family: "Nunito_Bold";
  font-size: 16px;
}

.btn {
  /* color: #EC1C23; */
  font-size: 12px;
  font-family: "Nunito_ExtraBold";
  letter-spacing: 0.5px;
  text-decoration: none;
  display: inline-block;
  padding: 0.6em 1em;
  background-color: #ec1c24;
  color: white;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  box-shadow: none !important;
  outline: none !important;
  font-weight: 300 !important;
}

.btn:hover {
  background-color: #ffff;
  color: #29267E !important;
  border: 1px solid #29267E;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  /* border: none; */
}


/* .btn:hover {
  color: #273581;
  -webkit-box-shadow: -1px 1px currentcolor, -2px 2px currentcolor,
    -3px 3px currentcolor, -4px 4px currentcolor, -5px 5px currentcolor,
    -6px 6px currentcolor;
  box-shadow: -1px 1px currentcolor, -2px 2px currentcolor,
    -3px 3px currentcolor, -4px 4px currentcolor, -5px 5px currentcolor,
    -6px 6px currentcolor;
  -webkit-transform: translatey(-2px);
  -ms-transform: translatey(-2px);
  transform: translatey(-2px);
}

.btn:focus {
  color: #273581;
  -webkit-box-shadow: -1px 1px currentcolor, -2px 2px currentcolor,
    -3px 3px currentcolor, -4px 4px currentcolor, -5px 5px currentcolor,
    -6px 6px currentcolor;
  box-shadow: -1px 1px currentcolor, -2px 2px currentcolor,
    -3px 3px currentcolor, -4px 4px currentcolor, -5px 5px currentcolor,
    -6px 6px currentcolor;
  -webkit-transform: translatey(-2px);
  -ms-transform: translatey(-2px);
  transform: translatey(-2px);
}

.btn:active {
  -webkit-box-shadow: -1px 1px 0 0 currentcolor;
  box-shadow: -1px 1px 0 0 currentcolor;
  -webkit-transform: translatey(0px);
  -ms-transform: translatey(0px);
  transform: translatey(0px);
} */

.navbar-nav {
  margin-right: 1.5rem !important;
}

#mobile_service_banner {
  display: none;
}

@media screen and (max-width: 992px) {
  #mobile_service_banner {
    display: block;
  }

  #service_desktop_banner {
    display: none;
  }
}

/* navbar ends here */

/* mobile banner css */
.scroll1,
.scroll2,
.scroll3,
.scroll4,
.scroll5,
.scroll6 {
  display: none;
}

.scroll1 img, .scroll2 img, .scroll3 img, .scroll4 img, .scroll5 img, .scroll6 img {
  margin-left: 20px;
}

@media screen and (max-width: 1080px) {
  .scroll1 img, .scroll2 img, .scroll3 img, .scroll4 img, .scroll5 img, .scroll6 img {
    width: 450px;
  }
}


@media screen and (max-width: 640px) {
  .scroll1 img, .scroll2 img, .scroll3 img, .scroll4 img, .scroll5 img, .scroll6 img {
    width: 250px;
  }
}

.mobile-hero-text {
  padding: 30px 50px 30px 50px;
  margin-bottom: 30px;
}

#mobile_service_banner {
  background-color: #ffff;
}

.mobile-hero-text>h1 {
  font-family: "Noto_Serif_SC";
  font-size: 54px;
  color: #29267e;
}

.mobile-hero-text>p {
  font-family: "Nunito_regular";
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.mobile-hero-text>p>span {
  color: #ec1c24;
}

.lead-half-mobile {
  background: linear-gradient(to top, #ffe2e2 25%, transparent 25%);
  display: inline-block;
}


@media screen and (max-width: 576px) {
  .mobile-hero-text>h1 {
    font-size: 32px;
  }

  .mobile-hero-text {
    padding: 30px 20px 30px 20px;
  }
}

@media screen and (max-width: 992px) {
  .ellipse-container {
    position: absolute;
    top: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
  }
}

/* mobile banner css ends here */

/* marquee section starts here */
.marquee-section {
  padding: 40px 20px 40px 20px;
  background-color: #FFFF;
}

.marquee-section>.container>h2 {
  text-align: center;
  font-family: 'Nunito_regular';
  color: #29267E;
  font-size: 26px;
  margin-bottom: 1rem;
}

.marquee-section>.container>h2>span {
  font-family: 'Nunito_Bold';
}

.owl-carousel .owl-item img {
  margin-top: 30px;
  width: 150px !important;
  margin: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  display: none;
}

.owl-nav {
  display: none;
}

@media screen and (max-width: 640px) {
  .marquee-section>.container>h2 {
    font-size: 22px;
  }

  .owl-carousel .owl-item img {
    margin-top: 30px;
    width: 120px !important;
    margin: auto;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

/* marquee section ends here */


/* what we do section starts here */
.lead-half-we-do {
  background: linear-gradient(to top, #ffe2e2 25%, transparent 25%);
  /* display: inline-block; */
}

.what-we-do {
  padding: 40px 20px 0px 20px;
}

.what-we-do>.container>h2 {
  text-align: center;
  font-family: 'Noto_Serif_SC_Medium';
  font-size: 42px;
  text-transform: capitalize;
  color: #29267E;
}

.cards-what-we-do {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 50px;
}

.cards-what-we-do>div {
  padding: 30px 20px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.cards-what-we-do>div:nth-child(odd) {
  background-color: #FFF3F3;
}

.cards-what-we-do>div:nth-child(even) {
  background-color: #EFF2FF;
}

.cards-what-we-do>div>img {
  width: 70px;
}

.cards-what-we-do>div>p:nth-child(2) {
  text-align: center;
  margin-top: 1rem;
  font-size: 18px;
  font-family: 'Nunito_SemiBold';
  color: #29267E;
  margin-bottom: 0.5rem;
}

.cards-what-we-do>div>p:nth-child(3) {
  text-align: center;
  font-size: 14px;
  font-family: 'Nunito_regular';
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1368px) {
  .cards-what-we-do {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1080px) {
  .cards-what-we-do {
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .cards-what-we-do {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .cards-what-we-do {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .what-we-do>.container>h2 {
    font-size: 24px;
    line-height: 1.6195;
  }
}


/* what we do section ends here */

/* Accordion section starts here */
.accordion-section {
  background-color: #29267E;
  padding: 40px 20px 40px 20px;
  position: relative;
  top: 0;
}

.accordion-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.accordion-grid>div:nth-child(2) {
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.accordion-grid>div:nth-child(2)>img {
  width: 100%;
}

.accordion-grid>div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.accordion-grid>div>h3 {
  color: white;
  font-family: 'Noto_Serif_SC_Medium';
  font-size: 32px;
  line-height: 1.4em;
  text-transform: capitalize;
}

.white-highlight {
  background: linear-gradient(to top, #4E5BA5 45%, transparent 16%);
  color: white;
  font-family: 'Noto_Serif_SC_Medium';
}

/* accordion */
.accordion-container .accordion-title {
  position: relative;
  margin: 0;
  padding: 10px 20px 10px 20px;
  color: #F8F9FF;
  cursor: pointer;
  font-family: 'Nunito_Bold';
  font-size: 18px;
  transition: .3s all ease-in-out;
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  -ms-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #e2dddd1a;
  margin-top: -1px;
}

.accordion-container {
  margin-top: 2rem;
}

.accordion-content {
  padding: 20px 20px 10px 20px;
  background-color: #e9ecff;
  margin-bottom: 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: 0;
  /* border-bottom: 1px dashed #D1D1D1;
  padding-top: 1rem; */
}

.accordion-content>p {
  color: #273581;
  font-family: 'Nunito_regular';
  font-size: 14px;
}

.accordion-fill {
  max-width: 500px;
  width: 100%;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-title.open {
  background-color: #F8F9FF;
  color: #273581;
  border-bottom: none;
  border-radius: 10px 10px 10px 10px;
  padding: 15px 20px;
  margin-top: 10px;
}

/* .open + .accordion-title>span>i{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
} */

.accordion-container .accordion-title:active,
.accordion-title.open {
  background-color: #F8F9FF;
  color: #273581;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.accordion-content>img:nth-child(1) {
  position: absolute;
  width: 50px;
  left: 0;
  bottom: 0;
  background-size: contain;
}

.accordion-content>img:nth-child(2) {
  position: absolute;
  width: 50px;
  right: 0;
  bottom: 0;
  background-size: contain;
}

/*CSS for CodePen*/


/* Accordion section ends here */


@media screen and (max-width: 1080px) {
  .scrolling-section {
    margin-top: 50rem;
  }
}

@media screen and (max-width:992px) {
  .scrolling-section {
    margin-top: 0rem;
  }

  .accordion-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }

  .accordion-fill {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .accordion-grid>div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {

  .accordion-container .accordion-title {
    font-size: 18px;
  }

  .accordion-section {
    padding: 40px 10px 40px 10px;
  }
}

/* Featured projects starts here */

.featured-projects {
  padding: 40px 20px 100px 20px;
  background-color: #FFFF;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1080px) {
  .featured-projects {
    padding: 40px 20px 90px 20px;
    background-color: #FFFF;
    margin-bottom: 3rem;
  }
}

.featured-project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  /* grid-gap: 2rem; */
}


.featured-project-grid>div {
  /* border: 1px solid black; */
  padding: 20px 40px 20px 40px;
}

.featured-project-container {
  background: #EDF1FF;
  -webkit-border-radius: 5px;
}

.featured-project-container>h3 {
  font-family: 'Noto_Serif_SC_Medium';
  color: #273581;
  font-size: 32px;
}

.featured-project-container {
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.featured-highlight {
  background: linear-gradient(to top, #ffe2e2 25%, transparent 25%);
}

.featured-project-container>p {
  font-size: 16px;
  color: #0E0E0E;
  font-family: 'Nunito_regular';
  margin-top: 1rem;
}

.projects {
  position: relative;
  top: 0;
}

.projects>img {
  margin-top: 3rem;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.projects>div {
  position: absolute;
  bottom: -100px;
  background-color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  max-width: 450px;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.redirect-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 0.3fr;
  grid-template-columns: 4fr 0.3fr;
  margin-bottom: 1rem;
}

.redirect-grid>div>a {
  color: #000;
  font-size: 12px;
  font-family: 'Nunito_SemiBold';
  text-decoration: none;
  letter-spacing: 0.3em;
}

.redirect-grid>div>a:nth-child(1) {
  border-right: 1px solid #bababa;
  padding-right: 10px;
}

.redirect-grid>div>a:nth-child(2) {
  padding-left: 6px;
}

.projects>div>h3 {
  color: #29267E;
  font-family: 'Nunito_Bold';
  font-size: 26px;
}

.projects>div>p {
  color: #0E0E0E;
  font-family: 'Nunito_Medium';
  font-size: 16px;
}

.projects>div>p>span {
  color: #EC1C24;
}

/* .pro-sec {
  position: relative;
  top: 90px;
}

.pro-third {
  position: relative;
  top: 180px;
} */

.dashed-border {
  /*border: 2px dashed #29267E;
  */
  position: relative;
  top: 160px;
  max-width: 450px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 20px 40px 20px 40px;
  background: linear-gradient(90deg, #29267E 50%, transparent 50%), linear-gradient(90deg, #29267E 50%, transparent 50%), linear-gradient(0deg, #29267E 50%, transparent 50%), linear-gradient(0deg, #29267E 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  animation: border-dance 50s infinite linear;
  -webkit-animation: border-dance 50s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }

  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}


.dashed-border>h3 {
  font-family: 'Noto_Serif_SC_Medium';
  font-size: 26px;
  color: #29267E;
  text-transform: capitalize;
}

.dashed-border>p {
  font-size: 16px;
  color: #000000;
  font-family: 'Nunito_Medium';
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.dashed-border>p>span {
  font-family: 'Nunito_Bold';
  color: #EC1C24;
}

@media screen and (max-width: 1080px) {
  .projects>div {
    max-width: 360px;
  }
}

@media screen and (max-width: 992px) {
  .featured-project-grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .projects>div {
    max-width: 500px;
  }

  .featured-project-grid>div:nth-child(2) {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 640px) {
  .featured-project-grid>div {
    padding: 20px 0px 20px 0px;
  }

  .projects>div {
    max-width: 450px;
  }

  /* .featured-projects {
    padding: 40px 10px 350px 10px;
  } */
}

@media screen and (max-width: 576px) {
  .featured-projects {
    display: none;
  }
}

/* Featured projects ends here */

/* team-overview section starts here */
.team-overview {
  width: 100%;
  background-image: url('../Images/Website development.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* margin-top: -3rem; */
  background-position: center center;
  margin: 0px 0px 40px 0px;
  padding: 120px 20px 120px 20px;
  position: relative;
  top: 0;
}

.smm-overview {
  width: 100%;
  background-image: url('../Images/Social media marketing.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* margin-top: -3rem; */
  background-position: center center;
  margin: 0px 0px 40px 0px;
  padding: 120px 20px 120px 20px;
  position: relative;
  top: 0;
}

.seo-overview {
  width: 100%;
  background-image: url('../Images/SEO.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* margin-top: -3rem; */
  background-position: center center;
  margin: 0px 0px 40px 0px;
  padding: 120px 20px 120px 20px;
  position: relative;
  top: 0;
}

.PPC-overview {
  width: 100%;
  background-image: url('../Images/PPC1.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* margin-top: -3rem; */
  background-position: center center;
  margin: 0px 0px 40px 0px;
  padding: 120px 20px 120px 20px;
  position: relative;
  top: 0;
}

.content-overview {
  width: 100%;
  background-image: url('../Images/content strategy.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* margin-top: -3rem; */
  background-position: center center;
  margin: 0px 0px 40px 0px;
  padding: 120px 20px 120px 20px;
  position: relative;
  top: 0;
}

.text-container-bold>h2 {
  font-family: 'Noto_Serif_SC';
  font-size: 45px;
  color: #29267E;
  text-transform: capitalize;
  text-shadow: 5px 5px 10px #ffffff4f;
  margin-bottom: -10px;
}

.text-container-bold>h2>span {
  color: #EC1C24;
}

.text-container-bold>p {
  font-size: 16px;
  color: #2B2B2B;
  font-family: 'Nunito_regular';
  margin-top: 2rem;
}

.text-container-bold {
  max-width: 500px;
}

/* team-overview section starts here */

/* let's develop something starts here */
.let-s-develop {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(41, 38, 126, 0.7)), to(rgba(41, 38, 126, 0.7))), url('../Images/ditech-office.jpg');
  background-image: -o-linear-gradient(bottom, rgba(41, 38, 126, 0.7), rgba(41, 38, 126, 0.7)), url('../Images/ditech-office.jpg');
  background-image: linear-gradient(0deg, rgba(41, 38, 126, 0.7), rgba(41, 38, 126, 0.7)), url('../Images/ditech-office.jpg');
  height: 100vh;
  padding: 80px 0px 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -3rem;
}

.let-s-develop>img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.let-s-develop>img:nth-child(1) {
  position: absolute;
  left: -300px;
  top: 0;
}


.let-s-develop>img:nth-child(2) {
  position: absolute;
  right: -300px;
  bottom: 0;
}

.callout>h2 {
  font-family: 'Noto_Serif_SC_Medium';
  color: white;
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
}

.callout {
  max-width: 650px;
  text-align: center;
}

.callout>p {
  color: white;
  font-family: 'Nunito_Medium';
  margin-top: 1rem;
}

.callout>button {
  color: #F5F5F5;
  margin-top: 1rem;
}


/* let's develop something ends here */

/* what we do container accordion starts here */
.accordion-container {
  position: relative;
  height: auto;
  margin: 30px auto 0px auto;
}

.accordion-container>h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.set {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #F8F9FF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.set>a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  font-family: 'Nunito_SemiBold';
}

.set>a i {
  float: right;
  margin-top: 2px;
}

.set>a.active {
  background-color: #273581;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.content {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: none;
}

.content p {
  padding: 10px 15px;
  margin: 0;
  font-size: 16px;
  font-family: 'Nunito_regular';
  margin-bottom: 0.5rem;
  color: #333;
}

/* what we do container accordion ends here */

@media screen and (max-width: 768px) {
  .let-s-develop>img:nth-child(1) {
    position: absolute;
    left: -500px;
    top: 0;
  }

  .let-s-develop>img:nth-child(2) {
    position: absolute;
    right: -500px;
    bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .let-s-develop {
    margin-top: 0rem;
  }

  .callout>h2 {
    font-size: 24px;
    padding: 0px 10px 0px 10px;
  }

  .callout>p>br {
    display: none;
  }
}

/* @media screen and (max-width: 640px) {
  .featured-projects {
    padding: 40px 10px 405px 10px;
  }
} */


/* slider section starts here */
.slideshow {
  position: relative;
  /* overflow: hidden; */
  width: 100vw;
  height: 500px;
}

.holder {
  position: relative;
  top: 0;
  left: 0;
  width: 10000vw;
  height: 500px;
  transition: left 1s;
}

.holder div {
  float: left;
  width: 100vw;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 30px;
}

.slide-1 {
  background-image: url('../Images/monsoon banner copy 3.png');
}

.banner-SMM {
  background-image: url("../Images/Recordant (1).png");
}

.arayanyam-banner {
  background-image: url("../Images/Home.png");
}

.banner-PPC {
  background-image: url('../Images/monsoon banner copy 22.png');
}

.slide-2 {
  background-image: url('../Images/creative-clay-textured-background-blue-border-diy-tie-dye-art-abstract-style.jpg');
}

#content-marketing-mobile {
  width: 90%;
  top: -2px;
  right: 25%;
}


.previous {
  position: relative;
  top: 0;
}

.previous>div {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: white;
  padding: 15px 60px 15px 60px;
  border-top-left-radius: 17px;
  gap: 30px;
  align-items: center;
}

.steps {
  color: #29267E;
  font-size: 25px;
  font-family: 'Noto_Serif_SC_Medium';
}

.prev>i {
  font-size: 22px;
  cursor: pointer;
  color: #29267E;
}

.next>i {
  font-size: 22px;
  cursor: pointer;
  color: #29267E;
}

.slideshow-overlay-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.slideshow-overlay-text>div {
  border: 1px solid black;
  /* height: 100px; */
}

.slider-overlay-text {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 2rem;
}

.slider-overlay-text>.two-blocks {
  /* border: 1px solid black; */
  /* height: 40px; */
  padding: 30px 20px 30px 20px;
  position: relative;
  top: 0;
}

.slider-overlay-text>.two-blocks>h3 {
  font-family: 'Nunito_Bold';
  font-size: 42px;
  color: white;
}

.slider-overlay-text>.two-blocks>p {
  font-family: 'Nunito_Bold';
  color: white;
  margin-top: 1rem;
  letter-spacing: .5px;
}

.grid-content {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  grid-gap: 0rem;
  margin-top: 2rem;
  max-width: 400px;
}

.grid-content>aside {
  display: flex;
  align-items: center;
}

.grid-content>aside {
  margin-bottom: 2rem;
}


.grid-content>aside>h2 {
  font-size: 42px;
  color: white;
  font-family: 'Nunito_ExtraBold';
}

.grid-content>aside>p {
  font-size: 18px;
  margin-bottom: 0rem;
  color: white;
  font-family: 'Nunito_regular';
  text-transform: capitalize;
  line-height: 1.3em;
}

aside.back-img img {
  left: 120%;
  bottom: 200px;
}

.ht-element-sub {
  font-size: 14px;
}

img#recordent-featured-banner {
  width: 80% !important;
  top: 8px;
  left: -156px;
}

.two-blocks>img {
  position: absolute;
  /* top: -100px; */
  width: 100%;
  bottom: -25%;
  right: 25%;
  z-index: 99;
}

.slider-show {
  margin-top: 3rem;
}

.seo-slider {
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.let-s-develop {
  margin-top: 0rem;
}


@media screen and (max-width: 992px) {
  .slideshow {
    height: 100vh;
  }

  .holder {
    height: 100vh;
  }

  .holder div {
    height: 100vh;
  }

  .grid-content {
    max-width: 100%;
  }

  .two-blocks>img {
    top: initial;
    position: initial;
    bottom: -120px;
    left: 0;
  }

  .slider-overlay-text {
    grid-template-columns: 1fr;
  }
}

.ppc-bg {
  background-color: #29267E !important;
}

@media screen and (max-width: 640px) {
  .two-blocks>img {
    display: none;
  }

  .seo-slider {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }


  .slideshow {
    height: 500px;
  }

  .holder {
    height: 500px;
    transition: left 1s;
  }

  .holder div {
    height: 500px;
  }

  .slider-overlay-text>.two-blocks {
    padding: 30px 0px 30px 0px;
  }

  .holder div {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 576px) {
  .slider-overlay-text>.two-blocks>h3 {
    font-size: 32px;
  }

  .grid-content>aside>p {
    font-size: 14px;
    margin-left: 1rem;
  }

  .grid-content>aside>h2 {
    font-size: 34px;
  }
}

/* slider section ends here */

.img>img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container-tools {
  padding: 40px 0px 0px 0px;
  margin-top: 2rem;
}

.container-tools>h3 {
  text-align: center;
  color: white;
  font-family: 'Nunito_Bold';
  font-size: 26px;
}

.container-tools>p {
  text-align: center;
  color: white;
  font-family: 'Nunito_regular';
  font-size: 16px;
}

.tech-stack-carousel {
  max-width: 1200px;
  margin: 50px auto 0px auto;
}

@media screen and (max-width: 1368px) {
  .team-overview {
    background-position: 100px 0px;
  }
}

@media screen and (max-width: 992px) {
  .team-overview {
    background-position: 100px 50px;
  }

  .text-container-bold {
    max-width: 440px;
  }

  /* .team-overview {
    margin: 0px 0px 40px 0px;
    padding: 0px 10px 0px 10px;
  } */

  .text-container-bold>h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .team-overview {
    background-image: none;
  }

  .arrow-down>img {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .team-overview {
    padding: 120px 20px 30px 20px;
  }
}

@media screen and (max-width: 576px) {
  .team-overview {
    padding: 40px 10px 30px 10px;
  }
}

.arrow-down {
  position: absolute;
  top: 42px;
  right: 60px;
}

/* .text-container-bold>button {
  display: none;
} */

.grab {
  font-family: 'Nunito_regular';
}

@media screen and (max-width: 576px) {
  .text-container-bold>button {
    display: block;
    background-color: #29267E;
  }

  .text-container-bold>button:hover {
    border: 1px solid #29267E;
  }

  .arrow-down>a>img {
    display: none;
  }

}

p.email-to.mb-0 {
  border-left: 1px dashed #cfcfcf;
}

.sched {
  font-family: 'Nunito_regular';
}

.nav-links-menu {
  text-decoration: none;
  color: white;
}

.nav-links-menu:hover {
  color: #ffff;
}

/* WEBSITE WORKFLOW COMPONENET STARTS HERE */
.owl-track {
  border: 1px solid #29267e26;
  padding: 20px 20px 20px 20px;
  border-bottom: 3px solid #273581;
  padding-bottom: 20px;
  position: relative;
  top: 0;
  overflow: visible !important;
  background: #ebefff;
}

.owl-carousel .owl-item .width-100 {
  width: 100% !important;
}


.text-item {
  position: absolute;
  bottom: -30px;
  background-color: white;
  padding: 0px 20px 0px 20px;
  left: 0;
  /* z-index: 999999; */
}

.owl-carousel .owl-stage-outer {
  overflow: visible !important;
}

.mareque-container {
  overflow: hidden;
}

.container-tools {
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}

.button-plane {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .owl-carousel .owl-item .width-100 {
  margin-bottom: 0rem;
} */

.text-item>p {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-family: 'Nunito_Medium';
  font-size: 18px;
  color: #273581;
  margin-top: 1rem;
}

.text-item>p>span>img {
  width: 10px !important;
}

.text-content-carous {
  height: 150px;
  position: relative;
  top: 0;
}

.owl-carousel .owl-item .numbers {
  position: absolute;
  top: -15px;
  left: -20px;
  width: 60px !important;
}

.text-content-carous>p:nth-child(1) {
  font-family: 'Nunito_Bold';
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #29267E;
}

.text-content-carous>p:nth-child(2) {
  font-family: 'Nunito_Regular';
  font-size: 15px;
  /* color: #29267E; */
}

.text-content-carous>p:nth-child(3) {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 153.7%;
  color: #848cb91c;
  position: absolute;
  bottom: 106px;
}

.text-content-carous>p:nth-child(2)>span {
  color: #ec1c24;
}

.website-work {
  padding: 0px 0px 40px 0px;
}

/* WEBSITE WORKFLOW COMPONENT ENDS HERE */

.slick-slide {
  margin: 20px 20px;
}

.slick-slide img {
  width: 140px;
}

.techstack-logos .slick-slide img {
  width: 90px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media screen and (max-width: 992px) {
  .marquee-section {
    padding: 30px 0px 20px 0px;
  }

  .mobile-hero-text {
    /* margin-bottom: 20px; */
  }
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workflow-container>h2 {
  font-size: 42px;
  font-family: 'Noto_Serif_SC_Medium';
  color: #273581;
  text-align: center;
}

.workflow-container>h2>span {
  background: linear-gradient(to top, #ffe2e2 25%, transparent 25%);
  display: inline-block;
}

.workflow-container>p {
  font-size: 18px;
  font-family: 'Nunito_Regular';
  text-align: center;
}

.arrow-item {
  position: absolute;
  bottom: -13.5px;
  right: -1px;
}

.arrow-item-seo {
  position: absolute;
  right: 0;
  bottom: -33.5px;
}

@media screen and (max-width:992px) {
  .arrow-item {
    bottom: -13.5px;
  }

  .arrow-item-seo {
    position: absolute;
    right: 0;
    bottom: -33px;
  }
}



.outter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-container {
  height: 500px;
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.video-container:before,
.video-container:after {
  content: "";
  position: absolute;
  display: block;
  left: -10px;
  width: 1px;
  height: 50%;
}

.standart_position {
  display: none;
}

.video-container:before {
  top: 0;
  background: linear-gradient(to top, #333 10%, transparent 100%);
}

.video-container:after {
  bottom: 0;
  background: linear-gradient(to bottom, #333 10%, transparent 100%);
}

video {
  object-fit: cover;
  position: absolute;
  height: 500px;
  width: 100%;
  top: 0;
  left: 0;
}


.video-container:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 1;
}

.desc {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
}

.callout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .callout {
    width: 100%;
    padding: 20px 10px 20px 10px;
  }

  .workflow-container>h2 {
    font-size: 24px;
  }
}

.btn-accordion-all {
  margin-top: 2rem;
  text-align: center;
}

/* footer component starts here */
footer {
  background: linear-gradient(0deg, #29267E, #29267E);
  padding: 40px 20px 40px 20px;
}

footer .footer-main-cta>h3 {
  color: white;
  font-family: 'Noto_Serif_SC_Medium';
  font-size: 40px;
  line-height: 1.3195;
}

footer .footer-main-cta>h3>span {
  font-family: 'Noto_Serif_SC';
}

.footer-grid, .footer-grid-extrainfo {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-gap: 2rem;
  border-bottom: 1px solid #ffffff1a;
  white-space: nowrap;
}

.footer-grid-extrainfo {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 2rem;
  margin-top: 2.5rem;
}

.footer-grid-extrainfo {
  border-bottom: none !important;
}

.anchors-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: fit-content;
  white-space: nowrap;
}

.anchors-grid>div {
  padding: 0px 20px 0px 0px;
}

.anchors-grid>div>a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.anchors-grid>div>a>span>img {
  width: 18px;
  margin-right: 2px;
}

.packages-cta {
  justify-content: end;
}

.packages-cta>p {
  font-family: 'Nunito_Bold';
  font-size: 16px;
  color: white;
  text-align: right;
}

.packages-cta>p>i {
  margin-right: 5px;
}

li.footer-nav-tab {
  list-style: none;
  color: white;
  font-family: 'Nunito_regular';
  font-size: 15px;
  line-height: 2em;
  text-align: right;
  transition: all 0.5s ease;
}

.footer-nav-tab a::after {
  content: "—";
  padding-left: 10px;
  font-weight: 500;
}

.footer-nav-tab:hover {
  content: "—";
  padding-right: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

div.services-links>p {
  text-align: right;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0px;
  color: white;
}

.footer-main-cta {
  padding-bottom: 3%;
}

ul.tab-quicklink {
  list-style: none;
  display: flex;
  padding-left: 0rem;
}

.tab-quicklink>li>a {
  color: white;
  text-decoration: none;
}

ul.tab-quicklink li {
  padding-right: 20px;
  color: white;
  font-size: 15px;
  font-family: 'Nunito_regular';
  letter-spacing: 0.5px
}

ul.tab-quicklink li:nth-child(1) {
  font-size: 16px;
  border-right: 2px solid white;
  padding-right: 20px;
  margin-right: 20px;
}

.packages-cta>div>p {
  color: white;
  font-size: 13px;
  font-family: 'Nunito_regular';
  text-align: right;
}

@media screen and (max-width: 992px) {
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .packages-cta {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 640px) {
  .anchors-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .anchors-grid>div {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  footer .footer-main-cta>h3 {
    font-size: 26px;
  }

  footer {
    padding: 40px 10px 40px 10px;
  }
}

/* footer component ends here */

.dropdown-menu {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dropdown-item {
  font-family: 'Nunito_Bold';
  border-bottom: 0.5px solid #F7F7F7;
  padding-top: 8px;
  padding-bottom: 8px;
}

.last-child {
  border-bottom: none;
}


/* ANOTHER SLIDR CODE STARTS HERE */

.web-servi>div:nth-child(2) {
  background-color: transparent !important;
}

/* schedule a call starts here */

/* schedule a call ends here */


/* PROJECTS NEW COMES HERE */
.project-second {
  margin-top: 7rem;
}

/* PROJECTS NEW COMES HERE */

.img-curve {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.cm-startegy {
  padding: 40px 20px 0px 20px;
}

/* timer component starts here */
#Timer {
  background: rgb(2, 0, 36);
  background: linear-gradient(-90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, #ec1c24 100%);
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 99;
  left: 0;
  padding: 5px 20px 5px 20px;
  /* background-image: url('../Images/2202_w022_n001_561b_p15_561.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.first-text {
  color: white;
  font-family: 'Nunito_ExtraBold';
  margin-bottom: 0rem;
  letter-spacing: 1px;
}

#Timer>.container>p {
  margin-bottom: 0rem;
}

.Numbers-count {
  font-family: 'Nunito_ExtraBold';
  font-size: 24px;
  color: white;
  vertical-align: middle;
}


.grid-img>img {
  width: 100%;
}

.Number-days {
  font-family: 'Nunito_regular';
  font-size: 14px;
  margin: 0px 2px 0px 8px;
  color: white;
  vertical-align: middle;
}

.span-button {
  vertical-align: middle;
  margin: 0px 10px;
}

.span-button button {
  border: none;
  background: #fee000;
  /*fallbackforoldbrowsers*/
  background: -webkit-linear-gradient(to top, #f8a100, #fee000);
  /*Chrome10-25,Safari5.1-6*/
  background: linear-gradient(to top, #f8a100, #fee000);
  /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
  padding: 4px 15px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  font-family: 'Nunito_ExtraBold';
  font-size: 15px;
}

.grid-img img {
  border-radius: 5px 0px 0px 5px;
}

/* timer component ends here */

.follow-us {
  /* border: 1px solid white; */
  /* height: 10px; */
}

div.follow-us>p {
  text-align: right;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0px;
  color: white;
}

.follow-us>div>div>a {
  text-decoration: none;
  float: right;
}

.follow-us>div>div>a>i {
  font-size: 24px;
  color: white;
  margin-left: 2rem;
  margin-bottom: 1rem;
}


.follow-us>.right-side-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

.hi-text {
  font-size: 24px;
  font-family: 'Nunito_Bold';
  color: white;
  margin-bottom: 0.8rem;
  text-align: right;
}

.email {
  color: white;
  font-family: 'Nunito_Bold';
}

/* modal component css styles starts here */
.modal-dialog {
  margin: 8rem auto;
}

.hide-grab {
  position: absolute;
  top: 13px;
  right: 20px;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-grab>i {
  color: black;
  font-size: 14px;
}


.modal-title {
  font-size: 32px;
  color: #273581;
  font-family: 'Nunito_Bold';
}

.modal-content {
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.modal-header {
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 0;
}

.modal-header>p {
  font-family: 'Nunito_Medium';
  font-size: 14px;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.modal-header>button {
  position: absolute;
  top: 30px;
  right: 25px;
}

.button-plane>p {
  margin-bottom: 0rem;
  margin-right: 15px;
  color: gray;
}

.button-plane>button>span {
  font-family: 'Nunito_regular';
}

@media screen and (max-width: 576px) {
  .button-plane {
    flex-direction: column;
  }

  .button-plane>p {
    margin-bottom: 1rem;
  }
}


.three-x {
  background: linear-gradient(to top, #ffe2e2 43%, transparent 25%);
  display: inline-block;
}

/* modal component css styles ends here */

/* DROPDOWN SELECTION STARST HERE */

.dropdowns {
  position: relative;
  width: 375px;
  height: 50px;
  border: 1px solid #d9d9d9;
  font-family: 'Nunito_Bold';
  color: #666666;
}

.dropdowns::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
  width: 12px;
  height: 12px;
  border: 3px solid #cfcfcf;
  border-top: 0px solid #fff;
  border-right: 0px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdowns.active::before {
  top: 19px;
  transform: rotate(-225deg);
}

.dropdowns input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #fff;
  font-size: 14px;
  border: none;
  outline: none;
  font-family: 'Nunito_Bold';
  padding: 12px 20px;
}

.dropdowns .options {
  position: absolute;
  top: 49px;
  width: 100%;
  background: #fff;
  height: 200px;
  overflow-y: scroll;
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 999999;
}

.dropdowns .options::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.dropdowns .options::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.dropdowns .options::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #ec1c24;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.dropdowns.active .options {
  display: block;
}

.dropdowns .options div {
  padding: 12px 15px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #ebe8e89c;
}

.dropdowns .options div:hover {
  background: #29267E;
  color: #fff;
}

.dropdowns>input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1;
  font-size: 16px;
  /* Firefox */
}

.dropdowns>input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
  font-size: 16px;
}

.dropdowns>input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
  font-size: 16px;
}

.schedule-a-call {
  width: 800px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 20px;
}

.schedule-a-call>div>a>button {
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  background-color: #273581;
  color: #fff;
  font-family: 'Nunito_Bold';
  margin-left: 0px;
}

.schedule-a-call>div>button:hover {
  background-color: #ec1c23ee;
}

/* DROPDOWN SELECTION ENDS HERE */

/* Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* FOOTER RESPONSIVE CSS */
@media screen and (max-width: 1080px) {

  .services-links, .follow-us {
    display: none;
  }

  .anchors-grid>div {
    padding: 0px 20px 30px 0px;
  }
}

@media screen and (max-width: 992px) {
  .footer-grid-extrainfo {
    grid-template-columns: 1fr;
  }

  .hide-in-mobile {
    display: none !important;
  }

  .footer-grid-extrainfo {
    display: none;
  }

  .packages-cta>div>p {
    text-align: center;
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 640px) {
  .anchors-grid>div {
    margin-bottom: -1rem;
  }
}

.grider-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#offer-modal {
  max-width: 800px !important;
}

#offers-moda {
  padding: 0rem;
}

.form-offer {
  padding: 15px 10px 15px 10px;
}

@media screen and (max-width: 992px) {
  #Timer {
    display: none;
  }
}

.none-mobile {
  display: none;
}

@media screen and (max-width: 1080px) {
  .none-mobile {
    display: block;
  }

  .mobile-tab {
    text-align: left !important;
  }

  .mobile-ul {
    padding-left: 0rem;
  }

  .mobile-footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }

  .mobile-hi-text {
    text-align: left;
    margin-top: 1rem;
  }

  .right-side-col>div>a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }

  .right-side-col>div>a>i {
    font-size: 28px;
  }
}

.form-offer>h3 {
  font-size: 30px;
  color: #2B2B2B;
  font-family: 'Nunito_Bold';
  color: #273581;
}

.accordion-content p {
  text-align: justify !important;
}

.form-offer>p {
  font-size: 16px;
  font-family: 'Raleway_regular';
  margin-bottom: 2rem;
}


@media screen and (max-width: 576px) {
  .mobile-footer-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .mobile-footer-container>div:nth-child(2) {
    margin-top: 2rem;
  }

  .mobile-hi-text {
    font-size: 20px;
  }
}


.btn-whatsapp-pulse {
  background: #273581;
  color: white;
  position: fixed;
  bottom: 60px;
  left: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 35px;
  text-decoration: none;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  z-index: 99999;
}

.btn-whatsapp-pulse:hover {
  color: white;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #EC1C24;
  }

  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}

.btn-whatsapp-pulse-border {
  bottom: 120px;
  left: 20px;
  animation-play-state: paused;
}

.btn-whatsapp-pulse-border::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 25px;
  border: 5px solid #25d366;
  opacity: 0.75;
  animation-name: pulse-border;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse-border {
  0% {
    padding: 25px;
    opacity: 0.75;
  }

  75% {
    padding: 50px;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1080px) {
  .minianimation {
    display: none;
  }
}


/* PRELOADER STARTS HERE */
/* Preloader */

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 9999999;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url('../Images/1496.gif');
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}


/* DROPDOWN SELECTION STARST HERE */

.dropdowna {
  position: relative;
  width: 375px;
  height: 50px;
  border: 1px solid #d9d9d9;
  font-family: 'Nunito_Bold';
  color: #666666;
}

.dropdowna::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
  width: 12px;
  height: 12px;
  border: 3px solid #cfcfcf;
  border-top: 0px solid #fff;
  border-right: 0px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdowna.active::before {
  top: 19px;
  transform: rotate(-225deg);
}

.dropdowna input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #fff;
  font-size: 14px;
  border: none;
  outline: none;
  font-family: 'Nunito_Bold';
  padding: 12px 20px;
}

.dropdowna .options {
  position: absolute;
  top: 49px;
  width: 100%;
  background: #fff;
  height: 200px;
  overflow-y: scroll;
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 999999;
}

.dropdowna .options::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.dropdowna .options::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.dropdowna .options::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #ec1c24;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.dropdowna.active .options {
  display: block;
}

.dropdowna .options div {
  padding: 12px 15px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #ebe8e89c;
}

.dropdowna .options div:hover {
  background: #29267E;
  color: #fff;
}

.dropdowna>input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1;
  font-size: 16px;
  /* Firefox */
}

.dropdowna>input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
  font-size: 16px;
}

.dropdowna>input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
  font-size: 16px;
}


/* DROPDOWN SELECTION ENDS HERE */

@media screen and (min-width: 1200px) {
  #footer>.container {
    max-width: 1320px !important;
    padding: 0px 20px 0px 20px;
  }
}

@media screen and (max-width: 640px) {
  .scroll1 img, .scroll2 img, .scroll3 img, .scroll4 img, .scroll5 img, .scroll6 img {
    width: 320px;
  }
}

.anchors-grid>div>a {
  font-family: 'Nunito_regular';
}

@media screen and (max-width: 576px) {
  .accordion-grid>div>h3 {
    color: white;
    font-family: 'Noto_Serif_SC_Medium';
    font-size: 22px;
    line-height: 1.5195;
  }

  .container-tools>h3 {
    font-size: 22px;
  }

  .cards-what-we-do {
    margin-top: 25px;
  }

  .text-container-bold>h2>br {
    display: none;
  }

  .text-container-bold>h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 1080px) {
  .slider-overlay-text>.two-blocks {
    top: -25px;
  }

  .seo-slider {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 992px) {
  .slider-overlay-text>.two-blocks {
    top: 0px;
  }

  .head-text-container>h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 576px) {
  .head-text-container>h1 br {
    display: none !important;
  }

  .ppc-head {
    font-size: 22px !important;
  }
}

.ad-h1-tag {
  font-size: 44px !important;
}

.ads-seo {
  margin: 5rem 0rem 0rem 0rem !important;
}

.bottom-form {
  margin-bottom: 1rem;
}

.footer-ads>.say-hi-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  border-bottom: 1px solid #ffffff1a;
  padding-bottom: 25px;
}

/* .footer-ads>div:nth-child(1)>div{
  border: 1px solid black;
  height: auto;
} */

.bg-white-form {
  background-image: linear-gradient(180deg, #EFF1FE 0%, #FFFFFF 100%);
  padding: 25px 30px 25px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ads-div>p:nth-child(1) {
  font-size: 20px;
  margin-top: 1rem;
}

.ads-div {
  display: inline-block;
}

.ads-div>p {
  text-align: left;
}

.anchor-link-menu {
  text-decoration: none;
  float: left;
  color: white;
  margin-right: 20px;
  font-size: 25px;
  margin-bottom: 1rem;
}

.nav-footer-links {
  margin-top: 20px;
}

.nav-footer-links>div:nth-child(1)>p {
  color: white;
  font-size: 13px;
  font-family: 'Nunito_regular';
  text-align: right;
}

@media screen and (max-width: 992px) {
  .bg-white-form {
    margin-top: 2rem;
  }

  .footer-ads>.say-hi-footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .head-text-container {
    margin-bottom: -1.5rem !important;
  }
}

@media screen and (max-width: 576px) {
  .nav-footer-links>div:nth-child(1)>p {
    text-align: center;
  }

  .bg-white-form {
    padding: 25px 20px 25px 20px;
  }

  .ad-h1-tag {
    font-size: 28px !important;
  }
}

.slider-not-img>img {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.slider-not-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ads_modal {
  display: flex;
}

.modal-dialog {
  padding: 0px 10px 0px 10px;
}

@media screen and (max-width: 576px) {
  .modal-title {
    font-size: 22px;
  }
}